global
    log stdout format raw local0
    maxconn 50000
    daemon

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    option  tcplog

frontend tor_frontend
    bind *:9050
    default_backend tor_backends

backend tor_backends
    balance roundrobin
    option  tcp-check
    # Entries generated dynamically by torplex web backend
    # server tor1 tor-proxy-1:9050 check
    # server tor2 tor-proxy-2:9050 check

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
